*~
*.o
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
common/Makefile
common/Makefile.in
common/libcommon.a
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
jack.backup
libtool
ltmain.sh
missing
